*{
margin: 0;
padding: 0;
}

.main{
padding-top: 100px;
display: flex;
}

.one{
width: 130%;
padding-left: 40px;
padding-top: 70px;
}

small{
font-size: 1rem;
color: black;
}


.another-main{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.another-main h1{
font-size: 20px; 
}

.another-main .item{
width: 40%;
margin: 15px;
}