*{
margin: 0;
padding: 0;
}

.Mission img{
width: 120%;
}

.Mission{
display: flex;
gap: 110px;
margin-top: 40px;
}

.mis{
width: 30%;
padding-left: 50px;
} 

.Missionone{
width: 25%;
}

.Missionone h2{ 
padding-top: 60px;
font-size: 15px;
}

.Missionone h1{ 
padding-top: 10px;
font-size: 45px;
padding-bottom: 10px;
}

.Missionone small{ 
text-decoration: none;
}

.Missionone h3{
padding-top: 80px;
padding-bottom: 40px;
}

.Missionone button{ 
margin-top: 15px;
padding-left: 3px;
padding-right: 3px;
background-color: olivedrab;
border-radius: 3px;
}

.Missionone input{
margin-top: 10px;
padding-right: 30px;
padding-left: 5px;
padding-top: 3px;
padding-bottom: 3px;
font-size: 12px;
}

.bu{
margin: 4px;
}





